.main-div{
    background: url(https://c.tenor.com/PNDiQHifb9UAAAAC/tormenta-stranger-things.gif)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
    padding:30px;
}
.presente{
    background: url(https://wall.bestcarmagz.net/sites/default/files/programming-wallpapers-40475-5927628.png)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:65vh;
    padding:30px;

}body{
  background:#0A090D;
}
.party{
  display: flex;
  }
  .party-m{
  display: flex;
  }
  .party-b{
    margin-left: 20px;
    margin-right: 20px;
      display: flex;
  }
.sneakers{
	color:#fff;
	font-size: 1000%;
	margin-left:45%;
	margin-top:7%;

}
.uni-d{
	color:#fff;
	font-size: 800%;
}
.anti-copy{
	color:#F0B304;
	font-size: 200%;
	margin-left:82%;
}
.main-div-bienvenido{
	border-radius:5px;
    background:#fff;
    width:70%;
    border-color:rgb(227, 227, 227);
   border-width: 1px;
   border-style: solid; 
    padding:20px;
    margin-left: 25px;
}
.body-main{
    width:90%;
    margin-left: 20px;
    margin-right: 20px;
}
.caj-1{
    width:97%;
    border-color:rgb(229, 156, 25);
    border-width: 1px;
    border-style: solid; 
    padding:10px;
    margin-left: 20px;
    margin-top:20px;
    margin-right: 20px;
}
.caj-2{
    width:97%;
    border-color:rgb(38, 179, 243);
    border-width: 1px;
    border-style: solid; 
    padding:30px;
    margin-left: 20px;
    margin-top:20px;
    margin-right: 20px;
}
.caj-3{
    width:97%;
    border-color:rgb(166, 226, 44);
    border-width: 1px;
    border-style: solid; 
    padding:30px;
    margin-left: 20px;
    margin-top:20px;
    margin-right: 20px;
}
.caj-4{
    width:97%;
    border-color:rgb(231, 62, 166);
    border-width: 1px;
    border-style: solid; 
    padding:30px;
    margin-left: 20px;
    margin-top:20px;
    margin-right: 20px;
}
.caj-5{
    width:97%;
    border-color:rgb(227, 227, 227);
    border-width: 1px;
    border-style: solid; 
    padding:30px;
    margin-left: 20px;
    margin-top:20px;
    margin-right: 20px;
}
.text{
  color:#fff;
  font-size: 200%;
  margin-left:10px;
  margin-top:10px;

}
.desa-m{
  color:#fff;
  font-size: 100%;
  margin-top:-10%;  
}
.estilo-m{
  color:#fff;
  font-size: 500%;
  margin-left:2%;;  
}
.cajita{
    width:25%;
    border-radius:5px;
    background:#fff;
    border-color:rgb(227, 227, 227);
   border-width: 1px;
   border-style: solid; 
    padding:10px;
    margin-left: 20px;
    margin-right: 100px;
}
.img{
	width:100%;
	height:100%;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
        
	height:80hv;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #FFF;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 8px;
	padding: 30px;
	text-align: left;
	width: 100%;
	transition: .8s ease all;
	transform: scale(1.5);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h2 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h6 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active img { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
  background:#000;
	height:100vh;
	width:100%;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #FFF;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 8px;
	padding: 30px;
	text-align: left;
	width: 30%;
	transition: .8s ease all;
	transform: scale(1.5);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h2 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h6 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active img { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
